.d_none {
  display: none;
}

.d_block {
  display: block;
}

.d_transparent {
  gap: 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  overflow: hidden;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 4;
}

#overlay_id {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: rgba(0, 0, 0, 0.307);
}

.button_order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button_style {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  border: 2px solid transparent;
  border-radius: 10px;
  border-color: #000;
  color: #000;
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: color 0.1s ease-in-out;
  background-color: rgb(141, 24, 24);
}

.button_style:hover {
  background-color: #f27f7f;
  color: #8c8181;
}

.overlay_new {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.overlay_order {
  height: 400px;
  width: 400px;
}

.pokemon_overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

.pokemonName_overlay {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemonSorting_overlay {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
}

.pokemonImage_overlay {
  width: 100px;
  height: 100px;
}

.pokemonPTag_overlay {
  gap: 50px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemonStats_overlay {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  text-transform: capitalize;
}